.progressSpan {
  width: 100%;
  background-color: rgb(250, 250, 250);
  border-radius: 1rem;
  opacity: 1;
}
.progressbar {
  background-color: blue;
  height: 10px;
  transition: 1s ease;
  transition-delay: 0.5s;
  display: inline-block;
  opacity: 1;
  border-radius: 1rem;
  margin-left: 5px;
}
.resumeRight {
  padding-left: 20px;
  padding-right: 20px;
}
.resumeLeft {
  padding-left: 20px;
  padding-right: 20px;
}
.colorgame {
  background-image: url(assets/color-game.png);
  background-size: cover;
  background-position: center;
}
.bookit {
  background-image: url(assets/java.png);
  background-size: cover;
  background-position: center;
}
.foodkart {
  background-image: url(assets/foodkart.jpg);
  background-size: cover;
}
.projectGrid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.myPic {
  background-image: url(assets/me.jpeg);
  background-size: cover;
  background-position: center;
  height: 350px;
}
.cardTrans {
  transition: ease-in;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
.homepage {
  height: 100%;
  width: 100%;
  background-color: #f0eeee;
  text-align: center;
  text-shadow: 10px;
  font-weight: 700;
  font-size: 5em;
}
.mdl-layout__header {
  background-color: #dfdddd;
  border-color: #e7e7e7;
  box-shadow: none;
  
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
.mdl-layout__drawer-button {
  color: black
}
.social-links{
  padding-top: 10px;
  font-size: 40px;
}
.social-links i{
  color:#413c3c;
  padding: 10px;
}
.banner-text{
  margin-top: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  margin-bottom: 20%;
}
.banner-text h2{
  text-shadow: black;
  color:#524d4d;
  padding: 0;
  font-weight: 800;
  margin-bottom: 5px;
}
.banner-text p{
  padding-top: 10px;
  text-shadow: black;
  font-size: medium;
  font-weight: 700;
  color:#908c8c;
}
.banner-text hr{
  margin: 10px;
}
.cardTrans{
  border-radius:10px;
  margin: auto;
  margin-bottom: 20px;
}
.cardTrans span{
  height:0px;
  opacity:0;
  transition: 1s ease;
}
.cardTrans:hover span{
  height:200px;
  opacity:1;
}
